body
{
	font-size : 70%;
    margin:0px;
    padding:0px;
	line-height:180%;
	color : #656565;
}

h3{
	border-bottom :dashed;
	margin-bottom: 6px;
}

div#contents
{
	color : #656565;
    background-color: #ffffff;
    width: auto;
    height:auto;
}

#day_table{
	width: 1800px;
}

#day_table > tbody > tr > td, #day_table > thead > tr > th{
	width : 300px;
	border: 1px solid #b9b9b9;
}

#day_table td.time, #day_table th.time{
	width : 80px;
	text-align: center;
}

#day_table th{
	font-size: 150%;
}

#day_table td.session{
    padding:7px;
	border-radius: 10px; /* CSS3 */
	-webkit-border-radius: 10px; /* Safari,Google Chromeç”¨ */
}

#day_table td.session_color_style_normal{
	background-color: #f0f0f0;
}

#day_table td.current_time{
	background-color: #82fff0;
}

#day_table td.session_color_style_favorite{
	background-color: #ffe4f7;
}

.schedule_button{
	font-size: 160%;
	width : 200px;
	height : 60px;
	margin : 10px;
}

.spec_filter > img{
	margin:3px;
	padding:3px;
	cursor : pointer;
}

.spec_filter > img.hide{
	width:29px;
	height:9px;
}
