body
{
	font-size : 70%;
    margin:0px;
    padding:0px;
	line-height:180%;
	color : #656565;
}

h3{
	border-bottom :dashed;
	margin-bottom: 6px;
}

div#contents
{
	color : #656565;
    background-color: #ffffff;
    width: auto;
    height:auto;
}

.schedule_button{
	font-size: 160%;
	width : 200px;
	height : 60px;
	margin : 10px;
}

.spec_filter{
	float:left;
	background-color: #f0f0f0;
	border-radius: 10px; /* CSS3 */
	-webkit-border-radius: 10px; /* Safari,Google Chrome用 */

	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	padding:3px;
	
	margin-left: 6px;
	margin-right: 6px;
}

.spec_filter > img{
	margin:3px;
	padding:3px;
	cursor : pointer;
}

.spec_filter > img.hide{
	width:29px;
	height:9px;
}

#favorite_selector {
	cursor : pointer;
}

/*---------------------------------------
 テーブル・お気に入りテーブル
---------------------------------------*/
#day_table{
	width: 1800px;
}

#day_table > tbody > tr > td, #day_table > thead > tr > th{
	width : 300px;
	border: 1px solid #b9b9b9;
	text-shadow: none;
}

#day_favorite_table > tbody > tr > td, #day_favorite_table > thead > tr > th{
	width : 240px;
	border: 1px solid #b9b9b9;
	text-shadow: none;
}

#day_table td.time, #day_table th.time,
#day_favorite_table td.time, #day_favorite_table th.time
{
	width:10px;	/* 最小化する為に無理やり小さい値 */
	text-align: center;
}

#day_table > thead > tr > th,
#day_favorite_table > thead > tr > th
{
	font-size: 150%;
}

#day_table td.session{
    padding:7px;
	border-radius: 10px; /* CSS3 */
	-webkit-border-radius: 10px; /* Safari,Google Chrome用 */
}

#day_table td.session_color_style_normal{
	background-color: #f0f0f0;
}

#day_table td.current_time,
#day_favorite_table td.current_time{
	background-color: #82fff0;
}

#day_table td.session_color_style_favorite{
	background-color: #ffe4f7;
}

#day_favorite_table td.session{
    padding:7px;
	border-radius: 10px; /* CSS3 */
	-webkit-border-radius: 10px; /* Safari,Google Chrome用 */
}

#day_favorite_table td.session_color_style_favorite{
	background-color: #f0f0f0;
}

#day_table td.session_cancel,
#day_favorite_table td.session_cancel{
	background-color: #a0a0a0;
	color: #606060;
}

td.session_cancel a:link { color: #595959; }
td.session_cancel a:visited { color: #595959; }
td.session_cancel a:hover { color: #3D3D3D; }
td.session_cancel a:active { color: #3D3D3D; }


p.room{
	font-size: 120%;
}