body
{
	font-size : 70%;
    margin:0px;
    padding:0px;
	line-height:180%;
	color : #656565;
}

h3{
	border-bottom :dashed;
	margin-bottom: 6px;
}

div#contents
{
	color : #656565;
    background-color: #ffffff;
    width: auto;
    height:auto;
}

.schedule_button{
	font-size: 160%;
	width : 200px;
	height : 60px;
	margin : 10px;
}

.spec_filter{
	float:left;
	background-color: #f0f0f0;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding:3px;
	margin-left: 6px;
	margin-right: 6px;
}

.spec_filter > span{
	margin:3px;
	cursor : pointer;
}

#favorite_selector, .favi {
	cursor : pointer;
}

.favi {
	width : 21px;
	height : 20px;
	float: right;
}

/*---------------------------------------
 テーブル・お気に入りテーブル
---------------------------------------*/
#day_table{
	width: 1800px;
}

#day_table > tbody > tr > td, #day_table > thead > tr > th{
	width : 300px;
	border: 1px solid #b9b9b9;
	text-shadow: none;
}

#day_table > tbody > tr > td:not(.time), #day_table > thead > tr > th:not(.time){
	min-width : 150px;
}

#day_favorite_table > tbody > tr > td, #day_favorite_table > thead > tr > th{
	width : 240px;
	border: 1px solid #b9b9b9;
	text-shadow: none;
}

#day_table td.time, #day_table th.time,
#day_favorite_table td.time, #day_favorite_table th.time
{
	width:10px;	/* 最小化する為に無理やり小さい値 */
	text-align: center;
}

#day_table > thead > tr > th,
#day_favorite_table > thead > tr > th
{
	font-size: 150%;
}

#day_table td.session{
    padding:7px;
	border-radius: 10px;
}

#day_table td.session_color_style_normal{
	background-color: #f0f0f0;
}

#day_table td.current_time,
#day_favorite_table td.current_time{
	background-color: #82fff0;
}

#day_table td.session_color_style_favorite{
	background-color: #ffe4f7;
}

#day_favorite_table td.session{
    padding:7px;
	border-radius: 10px;
}

#day_favorite_table td.session_color_style_favorite{
	background-color: #f0f0f0;
}

#day_table td.session_cancel,
#day_favorite_table td.session_cancel{
	background-color: #a0a0a0;
	color: #606060;
}

td.session_cancel a:link { color: #595959; }
td.session_cancel a:visited { color: #595959; }
td.session_cancel a:hover { color: #3D3D3D; }
td.session_cancel a:active { color: #3D3D3D; }


p.room{
	font-size: 120%;
}

.session-title{
	font-weight:bold;
	border-bottom:dashed 1px;
	margin-top:10px;
	margin-bottom:10px;
}

.disp_all_speaker{
	color:#38c;
    cursor: pointer;
    text-decoration: underline;
}

td p{
	margin-top:0px;
	margin-bottom:0px;
}

/* ================================== */
/* timetable-category */
/* ================================== */
.timetable-category {
    font-size: 12px;
}

.timetable-category>span {
    display: inline-block;
    padding: 3px 5px;
    color: #fff;
    font-size: 1em;
    line-height: 14px
}

.timetable-category>span+span {
    margin-left: 10px
}

.timetable-category>span.sub {
    font-size: 0.7em;
}

.timetable-category>span.-va {
    background-color: #dbc25a
}

.timetable-category>span.-eng {
    background-color: #ea966f;
}

.timetable-category>span.-prd {
    background-color: #5f77dd
}

.timetable-category>span.-bp {
    background-color: #4fbae8
}

.timetable-category>span.-snd {
    background-color: #7fc172
}

.timetable-category>span.-gd {
    background-color: #5cccbb
}

.timetable-category>span.-ac {
    background-color: #b677d3
}

.timetable-category>span.-int {
    background-color: #dd84bf
}

.timetable-category>span.-key {
    background-color: #1f3c5a
}

.timetable-category >span.hide{
	background-color: #c0c0c0;
}

div .speakers-item .speakers-company {
    display: block;
    font-size: 10px;
}

.session__camera {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    float: left;
    background-image: url("./image/no-camera.png")
}

.session__sns {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    float: left;
    background-image: url("./image/no-sns.png")
}
